<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h2>Restaurant Record App</h2>
        <div class="d-flex">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Restaurant</button>
        </div>
    </div>
</nav>
<!-- jumbotron -->
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Restaurant record management</h1>
    <p class="col-md-8 fs-4">You can save records using Angular 14</p>
    <button class="btn btn-primary btn-lg" type="button">Tech VRM</button>

    </div>

</div>

<!-- Table shown here -->

<table class="table mt-4">
    <thead>
        <tr>
         <th scope="col">Restaurant Id</th>
         <th scope="col">Name</th>
         <th scope="col">Email</th>
         <th scope="col">Mobile No</th>
         <th scope="col">Address</th>
         <th scope="col">services</th>
         <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of allRestaurantData">
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
        <td>{{data.mobile}}</td>
        <td>{{data.address}}</td>
        <td>{{data.services}}</td>
        
        <td>
            <button class="btn btn-success" data-toggle="tooltip" data-placement="top" (click)="editResto(data)">Edit</button>&nbsp;
            <button class="btn btn-danger" (click)="deleteResto(data)">delete</button>
        </td>
    </tr>
    </tbody>
</table>

<!-- Button trigger modal -->
<!-- <button >
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Restaurant</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label  class="form-label">Name</label>
                  <input type="text" formControlName="name" class="form-control" placeholder=" Restaurant Name" >
                  
                </div>
                <div class="mb-3">
                  <label f class="form-label">Email</label>
                  <input type="email" formControlName="email" class="form-control" placeholder=" Restaurant Email" >
                </div>
                
                <div class="mb-3">
                  <label  class="form-label">Mobile No.</label>
                  <input type="number" formControlName="mobile" class="form-control" placeholder=" Restaurant Mobile no." >
                </div>
                
                <div class="mb-3">
                  <label  class="form-label">Address</label>
                  <input type="text" formControlName="address" class="form-control" placeholder=" Restaurant Address">
                </div>
                
                <div class="mb-3">
                  <label  class="form-label">Services</label>
                  <input type="text" formControlName="services" class="form-control" placeholder=" Restaurant Services like chai & coffe" >
                </div>
            
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)= "addRestro()">Add Details</button>
          <button type="button" class="btn btn-primary" (click)= "updateResto(data.id)">Update</button>
        </div>
      </div>
    </div>
  </div>
